<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="common.BoardDAOImpl">
	
	<!-- 총 게시물 개수 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM board WHERE bname=#{bname}     
		<if test="keyString != null"> 
			AND ${keyField} LIKE '%'||#{keyString}||'%' 
		</if> 
	</select>  

	<!-- 리스트 --> 
	<select id="listPage" resultType="common.BoardDTO">				
		SELECT * FROM (SELECT Tb.*, ROWNUM rNum FROM (SELECT * FROM board WHERE bname=#{bname}   
		<if test= "keyString != null"> 
			AND ${keyField} LIKE '%'||#{keyString}||'%'  
		</if>
		 ORDER BY idx DESC)Tb)WHERE rNum BETWEEN #{start} AND #{end}
	</select>   
	 
	<!-- 글쓰기 -->  
	<insert id="write">
		INSERT INTO board (idx, id, name, title, contents, attachedfile, bname) 
		Values (board_seq.nextval, #{_id}, #{_name}, #{_title }, #{_contents}, #{_attachedfile, jdbcType=VARCHAR }, #{_bname})
	</insert>
	
	<!-- 상세보기 -->
	<select id="view" resultType="common.BoardDTO">
		SELECT * FROM board WHERE idx = #{idx}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updatevisit">
		UPDATE board SET visitcount=visitcount+1 WHERE idx=#{idx}
	</update>
	                
	<!-- 수정하기 -->
	<update id="edit">
		UPDATE board 
			SET	title=#{param1}, contents=#{param2}, attachedfile=#{param3, jdbcType=VARCHAR} 
			WHERE idx=#{param4}
	</update>
	
	<!-- 삭제하기 -->
	<delete id="delete">
		DELETE FROM board WHERE idx=#{idx}
	</delete>
	
	<!-- 작성자.... -->
	<select id="selectName" resultType="String">
		SELECT NAME FROM coconut where id=#{param1} 
	</select>
	
	<!-- 관리자 페이지 위한 게시판 리스트 -->
	<select id="admin_board" resultType="common.BoardDTO">
		select * from board
	</select>
	<select id="admin_board_by_bname" resultType="common.BoardDTO">
		select * from board where bname=#{param1}
	</select>
	
	<select id="admin_Board_by_idx" resultType="common.BoardDTO">
		select * from board where idx=#{param1}
	</select>
	<!-- 관리자 게시물 수정 -->
	<update id="admin_edit">
		UPDATE board 
			SET	title=#{param1}, contents=#{param2}, id=#{param3}, 
			attachedfile=#{param4, jdbcType=VARCHAR}, 
			visitcount=#{param5}, bname=#{param6}
			WHERE idx=#{param7}
	</update>
	<!-- 관리자 글 쓰기 -->
	 <insert id="admin_write">
		INSERT INTO board (idx, title, contents, id, attachedfile, visitcount, bname) 
		Values (board_seq.nextval, #{_title }, #{_contents}, #{_id}, #{_attachedfile, jdbcType=VARCHAR }, #{visitcount}, #{_bname})
	</insert>
	
</mapper>  

  		
  
  
  
  
  
  
  
  
  
  
  
  
  