<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.ReplyDAOImpl">
	
	<!-- 댓글 카운트 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) from board_reply where b_idx=#{param1}
	</select>
	
	<!-- 댓글 리스트 -->
	<select id="listPage" resultType="common.BoardReplyDTO">
		SELECT * FROM (
			SELECT Tb.*, rownum rNum FROM (
				SELECT * FROM board_reply where b_idx=#{param1} ORDER BY rgroup DESC, replydate ASC
			) Tb
		)
	</select>

	<!-- 댓글 쓰기 -->
	<insert id="rewrite">
		INSERT INTO board_reply (re_idx, id, b_idx, contents, rgroup, name)
		VALUES (reply_seq.nextval, #{id}, #{b_idx}, #{contents}, reply_seq.nextval, #{name})
	</insert>

	<!-- 댓글 삭제 -->
	<update id="redelete">
		UPDATE board_reply SET show='N' where re_idx=#{param1}
	</update> 
	
	<!-- 댓글수정 -->
	<update id="reedit">
		UPDATE board_reply SET contents=#{param2} where re_idx=#{param1}
	</update>
	
	<!-- 대댓글 전에 레코드 업뎃 -->
	<update id="replyPrevUpdate">
		UPDATE board_reply SET rstep=rstep+1 WHERE rgroup=#{param1} AND rstep>#{param2}
	</update>
	
	<!-- 대댓글 쓰기 -->
	<insert id="rerewrite">
		INSERT INTO board_reply (id, b_idx, contents, rgroup, rstep, re_idx, name)
		VALUES (#{param1}, #{param2}, #{param3}, #{param4}, #{param5}, reply_seq.nextval, #{param6})
	</insert>

	
	<!-- 관리자페이지 댓글 리스트 -->
	<select id="admin_reply" resultType="common.BoardReplyDTO">
		select board_reply.contents, board_reply.id, replydate, board_reply.name,
		show,re_idx,bname from board_reply left outer join board on board_reply.b_idx=board.idx
	</select>
	<select id="admin_reply_by_bname" resultType="common.BoardReplyDTO">
		select board_reply.contents, board_reply.id, replydate, board_reply.name,
		show, re_idx, bname from board_reply left outer join board on board_reply.b_idx=board.idx 
		where bname=#{param1}
	</select> 
	
	<!-- 관리자페이지 댓글 수정 -->
	<select id="admin_reply_by_idx" resultType="common.BoardReplyDTO">
		select * from board_reply where re_idx=#{param1}
	</select>
	<update id="admin_reply_edit">
		UPDATE board_reply
			SET contents=#{param1} where re_idx=#{param2}
	</update>
	
	<!-- 관리자 댓글 삭제 -->
	<select id="delete_reply_admin">
		UPDATE board_reply SET show='A' where re_idx=#{param1}
	</select>
	
</mapper>










  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  