<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
 <mapper namespace="mybatis.UInfoDAOImpl">
 
 <!-- 리스트 출력수  -->
 	<select id="getTotalCount" resultType="int">
 		SELECT COUNT(*) from info_univ
 	</select>
 	
 <!-- 출력  -->
 	<select id="listPage" resultType="mybatis.UInfoDTO">
 		SELECT * FROM info_univ
 	</select>
 	
<!--체크리스트  -->
 	<select id="searchC" resultType="mybatis.UInfoDTO">
	SELECT * FROM info_univ WHERE uname=#{param1,jdbcType=VARCHAR} LIKE CONCAT('%',#{param1},'%') and location=#{param2,jdbcType=VARCHAR} and p_type=#{param3,jdbcType=VARCHAR} and jobrate=#{param4,jdbcType=VARCHAR} and tuition=#{param5,jdbcType=VARCHAR}

 	</select>
<!-- 출력한 값 나오게 하기 -->

 	
	
 <!-- 대학교 이름검색  -->	
<!-- 	<select id="searchU" resultType="mybatis.UInfoDTO">
		SELECT * FROM info_univ WHERE uname LIKE '%{searchU}%';
	</select>  -->
	
 </mapper>
  
