<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
 <mapper namespace="mybatis.UInfoDAOImpl">
 
 <!-- 리스트 출력수  -->
 	<select id="getTotalCount" resultType="int">
 		SELECT COUNT(*) from info_univ
 	</select>
 	
 <!-- 출력  -->
 	<select id="listPage" resultType="mybatis.UInfoDTO">
 		SELECT * FROM info_univ
 	</select>
 	
<!--체크리스트  -->
 	<select id="searchC" resultType="mybatis.UInfoDTO">
	SELECT * FROM info_univ WHERE uname LIKE '%'||#{param1}||'%'
		AND location LIKE '%'||#{param2}||'%'
		AND p_type LIKE '%'||#{param3}||'%'
		AND jobrate LIKE '%'||#{param4}||'%'
		AND tuition LIKE '%'||#{param5}||'%'
	
 	</select>

<!-- 검색 -->
 	<!-- <select id="searchW" resultType="mybatis.UInfoDTO">
	SELECT * FROM info_univ WHERE uname LIKE '%'||#{searchWord}||'%'
 	</select> -->


 	
	
 <!-- 대학교 이름검색  -->	
<!-- 	<select id="searchU" resultType="mybatis.UInfoDTO">
		SELECT * FROM info_univ WHERE uname LIKE '%{searchU}%';
	</select>  -->
	
 </mapper>
  
