.lefttoptext{margin:0 auto;font-size:25px;font-weight:bold;margin-top:10px;}
.righttoptext{margin:0 auto;font-size:40px;font-weight:bold;}
.rightcontents{font-size:15px;}
.attendence{margin:0 auto;width:895px;height:300px;text-align:center;}
.voluntary{margin:0 auto;width:895px;height:300px;text-align:center;}
input[type="text"]{width:100px;}