.lefttoptext{margin:0 auto;font-size:25px;font-weight:bold;margin-top:10px;}
.righttoptext{margin:0 auto;font-size:40px;font-weight:bold;}
.university{margin:0 auto;width:895px;height:340px;text-align:center;}
.college{margin:0 auto;width:895px;height:340px;text-align:center;}